<div id="showDetailsID" class="details-entry">
    <div class="details-icons">
        <div class="clone-button-style material-symbols-outlined with-margin-left">content_copy</div>
        <div class="close-button-style material-symbols-outlined with-margin-left">close</div>
    </div>
    <div class="details-title">Title</div>
    <div class="details-day">Day</div>
    <div class="details-description">Description</div>
    <div class="details-tags"></div>
</div>

<div id="detailsID" class="details">
    <div id="info" class="info">
        <b>Nothing to see here.</b>
        <div class="info-small">
            Click on a task to see more details or create a new one!
        </div>
    </div>
</div>