<div *ngIf="this.isDetailsOpened===true && this.currentTask" id="showDetailsID" class="details-entry">
    <div class="details-icons">
        <div class="clone-button-style material-symbols-outlined with-margin-left" (click)="duplicate()">content_copy</div>
        <div class="close-button-style material-symbols-outlined with-margin-left" (click)="close()">close</div>
    </div>
    <div class="details-title"><b>{{this.currentTask.title}}</b></div>
    <div class="details-day"><i>{{this.currentTask.weekday}}</i></div>
    <div class="details-description with-margin-top">{{this.currentTask.description}}</div>
    <div class="details-tags with-margin-top">
        <div class="tag" *ngFor="let tag of this.currentTask.tags">
            #{{tag | totag}}
        </div>
    </div>
</div>

<div *ngIf="this.isDetailsOpened===false" id="detailsID" class="details">
    <div id="info" class="info">
        <b>Nothing to see here.</b>
        <div class="info-small">
            Click on a task to see more details or create a new one!
        </div>
    </div>
</div>