.main-title {
    color: red;
    text-align: center;
}

.sub-title {
    color: green;
}

.mini-title {
    color: blue;
}

.body-app {
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0px;
}