<div id="new-task-details-entry" class="details-entry">
    <div id="new-task-details-icons" class="details-icons">
        <div class="done-button-style material-symbols-outlined with-margin-left">done</div>
        <div class="close-button-style material-symbols-outlined with-margin-left">close</div>
    </div>
    <input id="new-task-details-title" class="details-title with-margin-top" type="text" placeholder="Title" />
    <input id="new-task-details-day" class="details-day with-margin-top" type="text" placeholder="Title" />
    <textarea id="new-task-details-description" class="details-description with-margin-top" type="text"
        placeholder="Write a description here..."></textarea>
    <span class="with-margin-top" style="font-size: 12px;">
        Write the tags (comma separated)
        <input id="tags-string" placeholder="Tags..." />
    </span>
</div>