<app-navbar [currentFilter]="currentFilter" (currentFilterEmitter)="updateFilter($event)" (homeEventEmitter)="home()"></app-navbar>
<div class="app-body">
    <app-sidebar (taskEventEmitter)="updateCurrentTask($event)" [currentFilter]="currentFilter" [loading]="loading"
        [currentTask]="currentTask" class="master" [tasks]="tasks"></app-sidebar>
    <app-details [isDetailsOpened]="isDetailsOpened" (closeDetailsEmitter)="closeDetails($event)"
        [currentTask]="currentTask" class="details"></app-details>
</div>